.Login_Inner_Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../Assets/images/Pattern.png");
  padding-top: 3rem;
}
.Login_Inner_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login_title {
  font-family: "Inter-SemiBold";
  height: 2rem;
}
.Login_Subtitle {
  font-size: 1rem;
  color: #525866;
}
.Login_ProfileUpload {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Login_Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Login_inner_input {
  width: 100%;
}
.Login_input_email {
  padding-top: 1rem;
}
.Login_input_password {
  padding-top: 2rem;
}
.Login_form_button {
  padding-top: 1rem;
}
.Login_SignUp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter-Regular";
  padding-top: 1.5rem;
}
.Login_Signup_link {
  color: #8ccfb7;
}
.Error {
  color: red;
  font-size: 0.9rem;
  flex-wrap: wrap;
  max-width: 16rem;
}
