.Login_Inner_Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../Assets/images/Pattern.png");
  padding: 3rem 0 3rem 0;
}
.Login_Inner_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Login_Inner{
  width: 34%;
}
.Login_title {
  font-family: "Inter-SemiBold";
  height: 2rem;
  font-size: 1.5rem;
}
.Login_Subtitle {
  font-family: "Inter-SemiBold";
  color: var(--darkgray);
  font-size: 1rem;
}
.Login_ProfileUpload {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Login_Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Login_inner_input {
  width: 100%;
}
.Login_input_email {
  padding-top: 1rem;
}
.Login_input_password {
  padding-top: 2rem;
}
.Login_form_button {
  padding-top: 1rem;
}
.Login_SignUp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter-Regular";
  padding-top: 1.5rem;
  font-size: 14px;
}
.Login_Signup_link {
  color: var(--green);
}
.Error {
  color: var(--red);
  font-size: 0.9rem;
  flex-wrap: wrap;
  max-width: 100%;
}
.Footer {
  position: fixed;
  padding: 0.9rem;
  width: 50%;
  font-family: "Inter-Regular";
  color: var(--darkgray);
  font-size: 14px;
  bottom: 0;
}

@media only screen and (min-width: 1800px) {
  .Login_title {
    font-size: 2rem;
    padding-top: 1rem;
  }
  .Login_Subtitle {
    font-size: 2rem;
    padding-top: 1rem;
  }
  .Login_SignUp {
    font-size: 2rem;
  }
  .Footer {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .Footer {
    position: unset;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  .Login_Inner{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 500px) and (max-width:768px) {
  .Login_Inner{
    width: 24rem;
  }
}
