@font-face {
  font-family: "Inter-Bold";
  src: url("D:\Projects\veertec-login\src\Assets\fonts\Inter-Bold.ttf");
}
@font-face {
  font-family: "Inter-Regular";
  src: url("D:\Projects\veertec-login\src\Assets\fonts\Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter-Light";
  src: url("D:\Projects\veertec-login\src\Assets\fonts\Inter-Light.ttf");
}

